:root {

	--element-spacing: 10px;

}
@font-face {

	font-family: Ubuntu;
	src: url(/fonts/ubuntu-font/Ubuntu-R.ttf);

}
html {

	background-image: url(/background.jpg);
	min-height: 100%;
	height: auto;
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Ubuntu;

}
div.header {

	background-color: rgba(255, 255, 255, 0.5);
	background-position: center;
	margin-bottom: var(--element-spacing);
	padding: var(--element-spacing);
	position: relative;
	letter-spacing: 2px;

}
.headerTitle {

	display: inline;
	margin: auto;

}
.headerButtons {

	display: inline;
	margin: 0px;
	padding: 0px;
	position: absolute;
	right: var(--element-spacing);
	text-align: center;

}
.button {

	border: none;
	background-color: Transparent;
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	margin-left: calc(var(--element-spacing)/2);
	padding: calc(var(--element-spacing)/2);

}
.button:hover {

	background-color: rgba(128, 128, 128, 0.5)

}
body {

	background-color: rgba(255, 255, 255, 0.5);
	padding: var(--element-spacing);

}
.mainBody {

	background-color: rgba(255, 255, 255, 0.5);
	margin: 0px;
	padding: var(--element-spacing);

}
.bodyHeader {

	margin: 0px;
	display: inline;

}
.bodyParagraph {

	margin: 0px;
	text-align: justify;
	font-size: 22px;

}
hr {

	border: .5px solid black;
	margin: var(--element-spacing) 0px;

}
