:root {

	--element-spacing: 10px;

}
html {

	background-image: url("background.jpg");
	min-height: 100%;
	height: auto;
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;

}
body {

	background-color: rgba(255, 255, 255, 0.5);
	margin: var(--element-spacing);
	padding: var(--element-spacing);

}
.mainHeader {

	background-color: rgba(255, 255, 255, 0.5);
	background-position: center;
	margin-bottom: var(--element-spacing);
	padding: var(--element-spacing);

}
h1 {

	text-align: center;

}
.mainBody {

	background-color: rgba(255, 255, 255, 0.5);
	padding: var(--element-spacing);

}
p {

	text-align: justify;

}
