:root {

	--element-spacing: 10px;

}
@font-face {

	font-family: Monteros;
	src: url(fonts/Monteros.ttf);

}
@font-face {

	font-family: Ubuntu;
	src: url(fonts/ubuntu-font/Ubuntu-R.ttf);

}
html {

	background-image: url(background.jpg);
	min-height: 100%;
	height: auto;
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;

}
div.header {

	background-color: rgba(255, 255, 255, 0.5);
	background-position: center;
	margin-bottom: var(--element-spacing);
	padding: var(--element-spacing);
	position: relative;
	font-family: Monteros;
	letter-spacing: 2px;

}
.headerTitle {

	display: inline-block;
	margin: 0px;

}
.headerButtons {

	display: inline;
	float: right;
	margin: 0px;
	position: absolute;
	top: 50%;
	right: var(--element-spacing);
	transform: translate(0, -50%);

}
.button {

	margin: 0px;


}
a {

	color: black;
	text-decoration: none;

}
body {

	background-color: rgba(255, 255, 255, 0.5);
	padding: var(--element-spacing);
	font-family: Ubuntu;

}
.mainBody {

	background-color: rgba(255, 255, 255, 0.5);
	margin: 0px;
	padding: var(--element-spacing);

}
.bodyHeader {

	margin: 0px;
	//margin-bottom: 5px;

}
.bodyParagraph {

	margin: 0px;
	text-align: justify;
	font-size: 22px;

}
hr {

	border: .5px solid black;
	margin: 4.5px;

}
